@import "tailwindcss";

html,
body,
.app,
#root {
    height: 100%;
    margin: 0;
}

/* Color */
.white {
    color: #ffffff;
}

.border-piece {
    border: 2px solid #000000 !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

/* Components */
main.container {
    display: grid;
}

.square {
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border: 2px solid transparent;
}

.square img {
    width: 42px;
    height: 42px;
}